a {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-left: 9%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

h1 {
    color:white;
    text-align: center;
    font-size: 150px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 12%;

}

h2 {
    text-align: center;
    margin-top: 35%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

body { 

    background-image: url(img/monotriste.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}


